*{
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: rgb(244, 244, 244);
    margin: 0;
}
.header {
    text-transform: uppercase;
    height: 150px ;
    text-align: center;
    padding: 30px;
    background-color: rgb(2, 2, 28);
    border-bottom: 5px solid rgb(226, 226, 64);
    color: white;   
}

.gallery{
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    padding: 20px 10px;
}

img {
    min-width: 350px;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

img::after {
    content: "";
    width: 350px
}